@import "../foundation/reset", "common";

/* 問い合わせ送信後のページ */
body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.contact__post-submit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .inner {
        padding: 0;

        @include mq('tb') {
            width: 100%;
            max-width: 95%;
        }
    
        @include mq('sp') {
            width: 100%;
            max-width: 95%;
        }
    }

    &__title {
        margin-bottom: 3em;
    }

    &__txt {
        margin-bottom: 3em;

        &__item {
            margin-bottom: 1em;
        }
    }

    &__return-btn {
        @extend .contact-btn; 
        padding: 1em 2em;
    }
}
